@using CarPartsAppWasm.Services
@using CarPartsAppWasm.Shared
@using Blazored.Toast
@using Blazored.Toast.Services
@inherits LayoutComponentBase
@inject CartService CartService
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        
        <div class="top-row px-4">
            @*shoping cart component*@
            <NavLink class="nav-link" href="/cart">
                <BiCartCheckFill Size="25" /> Cart (@CartService.GetItems().Sum(item=>item.Quantity))
            </NavLink>
   
            @*end shopping cart component*@
            <AccessControl/>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4 welcome-poster">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }
}