@page "/cart"
@using CarPartsAppWasm.Services
@inject CartService CartService
@inject NavigationManager NavigationManager

<div class="card">

    <div class="card-header">
        <div class="card-title">
            <a class="clear" @onclick="ClearCart">Empty Cart</a>
            <h3 class="cart-title">Shopping Cart</h3>
        </div>
    </div> 
    <div class="card-body">
        @if (CartService.GetItems().Any())
        {
        <ul class="cart-items">
            @foreach (var item in CartService.GetItems())
            {
            <li class="cart-item">
                <b>Product: @item.Name</b> x <b>@item.Quantity</b> <b>@item.Price.ToString("C")</b>
            </li>
            }
        </ul>  
        <p class="cart-total">
            Total: @CartService.GetTotal().ToString("C")
        </p>
        <div class="card-footer">
            <div class="finish-buttons">
                <button class="btn-buy-more" @onclick="BuyMore">Buy more!</button>
                <button class="btn-pay" @onclick="Checkout">Checkout</button>  
            </div>

        </div>
        }   
        else
        {
        <p class="empty-cart-message" @onclick="BuyMore">Cart is empty. Buy something!</p>
        }
    </div>

    
 

</div>
@code {
    private void ClearCart()
    {
        CartService.ClearCart();
    }

    private void BuyMore()
    {
        NavigationManager.NavigateTo("/parts");
    }

    private void Checkout()
    {
        throw new NotImplementedException();
    }

}