@page "/parts"
@using CarPartsAppWasm.Models
@using CarPartsAppWasm.Services
@inject NavigationManager NavigationManager
@inject ProductService ProductService

<h3>Auto Parts</h3>
<div id="CreateProductsDiv">
    <button class="btn btn-primary" @onclick="CreateProduct">+</button>
</div>

<div class="catalog">
    @if (_products == null)
    {
        <p>Cargando productos...</p>
    }
    else if (!_products.Any())
    {
        <p>No hay productos disponibles.</p>
    }
    else
    {
        var ServerBaseUrl = ProductService.GetServerUrl();
        @foreach (var product in _products)
        {
            var imageUrl = string.IsNullOrEmpty(product.ImageUrl) 
                ? "../img/products/generic.jpg" 
                : $"{ServerBaseUrl}{product.ImageUrl}";
            
            <Product ProductItem="new ProductDto { Name = product.Name, Description = product.Description,
             Price = product.Price, Quantity = product.Quantity, ImageUrl = imageUrl }" />
        
        }
    }
</div>

@code {
    private List<ProductDto> _products;

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        _products = await ProductService.GetProductsAsync();
    }

    private void CreateProduct()
    {
        NavigationManager.NavigateTo("/create-product");
    }
}