@page "/parts"
@using CarPartsAppWasm.Models
@using CarPartsAppWasm.Services
@inject CartService CartService

<h3>Auto Parts</h3>

<div class="catalog">
    @foreach (var product in Products)
    {
        <Product ProductItem="product" />
    }
</div>

@code {
    @*Example list, as server will obtain from API the products in database*@
    private List<ProductDto> Products = new List<ProductDto>
    {
        new ProductDto { Name = "Air Filter", Description = "High-quality air filter", Price = 15.99m, Quantity = 1, ImageUrl ="/img/products/generic.jpg" },
        new ProductDto { Name = "Spark Plug", Description = "Ignition spark plug", Price = 5.99m, Quantity = 1, ImageUrl = "../img/products/generic.jpg"  },
        new ProductDto { Name = "Oil Filter", Description = "Durable oil filter for extended engine life", Price = 7.49m, Quantity = 1, ImageUrl = "../img/products/generic.jpg"  },
        new ProductDto { Name = "Brake Pads", Description = "High-performance brake pads for safe stopping", Price = 29.99m, Quantity = 1, ImageUrl = "../img/products/generic.jpg"  },
        new ProductDto { Name = "Headlight Bulb", Description = "Bright and long-lasting headlight bulb", Price = 12.99m, Quantity = 1, ImageUrl = "../img/products/generic.jpg"  },
        new ProductDto { Name = "Windshield Wipers", Description = "All-weather windshield wipers for clear vision", Price = 9.99m, Quantity = 1, ImageUrl = "../img/products/generic.jpg"  },
        new ProductDto { Name = "Battery", Description = "Reliable car battery with long lifespan", Price = 89.99m, Quantity = 1, ImageUrl = "../img/products/generic.jpg"  },
        new ProductDto { Name = "Radiator", Description = "Efficient radiator for optimal engine cooling", Price = 120.00m, Quantity = 1, ImageUrl = "../img/products/generic.jpg"  },
        new ProductDto { Name = "Tire", Description = "All-season tire for smooth and safe driving", Price = 75.00m, Quantity = 1, ImageUrl = "../img/products/generic.jpg"  },
        new ProductDto { Name = "Fuel Pump", Description = "High-efficiency fuel pump for better performance", Price = 45.99m, Quantity = 1, ImageUrl = "../img/products/generic.jpg"  }
    };


}