@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
<div class="welcome-text">
    <h1>Car Parts for every model</h1>
</div>

<div class="welcome-text-secondary">
    <button class="btn btn-outline-dark" @onclick="NavigateToParts">Let's see this parts!</button>
</div>



@code {
    private void NavigateToParts()
    {
        NavigationManager.NavigateTo("/parts");
    }
}
