@using CarPartsAppWasm.Models
@using CarPartsAppWasm.Services
@inject CartService CartService

<div class="product-card">
    <img src=@ProductItem!.ImageUrl alt="@ProductItem!.Name" class="product-image" />
    <h4>@ProductItem.Name</h4>
    <p>@ProductItem.Description</p>
    <p class="Price">Price: @ProductItem.Price.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</p>
    <button @onclick="AddToCart">Add to Cart</button>
</div>

@code {
    [Parameter]
    public ProductDto? ProductItem { get; set; }

    private void AddToCart()
    {
        if (ProductItem == null) return;
        var item = new ProductDto
        {
            Name = ProductItem.Name,
            Description = ProductItem.Description,
            Price = ProductItem.Price,
            Quantity = 1
        };
        CartService.AddItem(item);
    }
}
